.nav {
  font-size: 35px;
  font-family: Tomorrow, sans-serif;
}

.box-conversion-img {
  max-width: 60px;
  max-height: 60px;
  color: #007bff;
  font-size: 35px;
}

.font-input-heads {
  font-size: 20px;
  font-family: Tomorrow, sans-serif;
  color: #68737b;
}

.logo-font {
  font-size: 40px;
  font-family: Tomorrow, sans-serif;
}

.display-output {
  font-family: "Tomorrow", sans-serif;
}

#from-currency-display-font {
  font-size: 70px;
}

.footerCustom {
  font-family: Tomorrow, sans-serif;
}
