/* .nav {
  font-size: 35px;
  font-family: Tomorrow, sans-serif;
}

.boxConversionImg {
  max-width: 60px;
  max-height: 60px;
  color: #007bff;
  font-size: 35px;
}

.fontInputHeads {
  font-size: 20px;
  font-family: Tomorrow, sans-serif;
  color: #68737b;
}

.logoFont {
  font-size: 40px;
  font-family: Tomorrow, sans-serif;
}

#displayOutput {
  font-family: "Tomorrow", sans-serif;
}

#fromCurrencyDisplayFont {
  font-size: 40px;
  font-family: "Tomorrow", sans-serif;
}

.footerCustom {
  font-family: Tomorrow, sans-serif;
} */
